$primary-blue: rgb(98, 181, 229);
$primary-grayish-blue: rgb(103, 137, 156);
$primary-green: rgb(173, 220, 145);

@font-face {
  font-family: 'Free Sans';
  src: url("./assets/FreeSans.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
