@import "../../index.scss";

.user-form {
  @include responsive;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  font: normal normal 700 1.5rem/2.5rem 'Free Sans', sans;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-blue;
    input {
      border: 1px solid $primary-blue;
      border-radius: 0.25rem;
      color: $primary-blue;
      font: normal normal 700 1rem/1.5rem 'Free Sans', sans;
    }
  }

  .submit {
    background: $primary-blue;
    margin-top: 1rem !important;
    border-radius: 0.5rem;
    width: 50%;
    margin: 0 auto;
    border: none;
    outline:none;
    font-size: 1.5rem;
    color: white;
  }

  .submit:hover {
    cursor: pointer;
  }
}
